.wrapper {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    min-width: 100px;
    border-radius: 4px;
    padding: 9px 10px;
    font-weight: 700;
    font-size: 1.6rem;
    cursor: pointer;
    background-color: transparent;
    border: 1px solid transparent;

    & + .wrapper {
        margin-left: 8px;
    }

    &:disabled {
        opacity: 0.5;
        cursor: default;
    }
}

.title-btn + .icon,
.icon + .title-btn {
    margin-left: 8px;
}

.icon {
    width: 2rem;
}

// Style Button
.primary {
    color: var(--white);
    background-color: var(--primary);

    &:hover:not([disabled]) {
        background: linear-gradient(0deg, rgba(0, 0, 0, 0.06), rgba(0, 0, 0, 0.06)),
            #fe2c55;
    }
}

.outline {
    color: var(--primary);
    border-color: var(--primary);

    &:hover {
        background-color: rgba(254, 44, 85, 0.06);
    }
}

.text {
    &:hover {
        text-decoration: underline;
    }
}

.rounded {
    font-size: 1.4rem;
    color: rgba(22, 24, 35, 0.75);
    box-shadow: 0 2px 8px rgb(0 0 0 / 6%);
    padding: 6px 8px;
    border-radius: 99rem;
    border-color: rgba(22, 24, 35, 0.12);

    &:hover {
        border-color: rgba(22, 24, 35, 0.2);
        background-color: rgba(22, 24, 35, 0.03);
    }
}

// Size Button
.small {
    padding: 4px 6px;
    font-weight: 600;
}

.large {
    min-width: 140px;
    padding: 14px 6px;
    font-size: 1.8rem;
    font-weight: 600;
}

.rounded-btn {
    border-radius: 99rem;
}
