.wrapper {
    --search-height: 46px;
    --focus-input-border-color: #c4c6ca;
    --search-btn-width: 52px;
    --search-top-spacer: 9px;

    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    width: 100%;
    height: var(--header-height, 60px);
    box-shadow: 0px 1px 1px rgb(0 0 0 / 12%);
    background-color: var(--white);
}

.actions {
    display: flex;
    align-items: center;
}

.logo {
    display: flex;
    align-items: center;
}

.action-btn {
    position: relative;
    display: flex;
    align-items: center;
    font-size: 2rem;
    background: transparent;
    padding: 4px 10px;
    cursor: pointer;
}

.badge {
    position: absolute;
    top: -3px;
    right: 0px;
    padding: 0px 6px;
    height: 2rem;
    line-height: 2rem;
    border-radius: 10px;
    font-size: 1.2rem;
    font-weight: 500;
    color: var(--white);
    background-color: var(--primary);
}

.container {
    max-width: var(--default-layout-container);
    height: 100%;
    margin: 0 auto;
    padding: 0 var(--default-layout-horizontal);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.more-btn-wrapper {
    margin-left: 18px;
}

.more-btn {
    display: inline-block;
    background-color: transparent;
    font-size: 2rem;
    cursor: pointer;
    padding: 8px;
}
