.wrapper {
    height: var(--header-height, 60px);
    box-shadow: 0px 1px 1px rgb(0 0 0 / 12%);
}
.container {
    max-width: var(--default-layout-container);
    height: 100%;
    margin: 0 auto;
    padding: 0 2rem;
    background: #ccc;
    display: flex;
    align-items: center;
}
